#### SETTINGS  
# DO NOT ENQUOTE VALUES [!!!]

# GENERAL
export PROJECT_NAME=fireworks
export PY_VERSION=3.8
export DIR_MODEL_LOCAL=./artifacts
export DIR_TMP=/tmp

# AWS
export AWS_ACCOUNT_ID=691513757250
export AWS_DEFAULT_REGION=eu-west-1
export ECR_REPO=sagemaker
export SAGEMAKER_ROLE=SagemakerRole
export BUCKET_ARTIFACTS=sagemaker-artifacts-lars
export ECR=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com
export SAGEMAKER_ROLE_ARN=arn:aws:iam::${AWS_ACCOUNT_ID}:role/${SAGEMAKER_ROLE}

# DOCKER
export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1

# CONFIGS
export JSON_MODEL=model.json
export JSON_ENDPOINT_CONFIG=endpoint_config.json
export JSON_TRAINING_JOB=training_job.json
export JSON_SAGEMAKER_ROLE=sagemaker_role.json
export JSON_REQUEST=request.json