#### SETTINGS  
# DO NOT ENQUOTE VALUES [!!!]

# GENERAL
export PROJECT_NAME={{cookiecutter.PROJECT_NAME}}
export PY_VERSION={{cookiecutter.PY_VERSION}}
export DIR_MODEL_LOCAL={{cookiecutter.DIR_MODEL_LOCAL}}
export DIR_TMP={{cookiecutter.DIR_TMP}}

# AWS
export AWS_ACCOUNT_ID={{cookiecutter.AWS_ACCOUNT_ID}}
export AWS_DEFAULT_REGION={{cookiecutter.AWS_DEFAULT_REGION}}
export ECR_REPO={{cookiecutter.ECR_REPO}}
export SAGEMAKER_ROLE={{cookiecutter.SAGEMAKER_ROLE}}
export BUCKET_ARTIFACTS={{cookiecutter.BUCKET_ARTIFACTS}}
export ECR=${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com
export SAGEMAKER_ROLE_ARN=arn:aws:iam::${AWS_ACCOUNT_ID}:role/${SAGEMAKER_ROLE}

# DOCKER
export DOCKER_BUILDKIT=1
export COMPOSE_DOCKER_CLI_BUILD=1

# CONFIGS
export JSON_MODEL=model.json
export JSON_ENDPOINT_CONFIG=endpoint_config.json
export JSON_TRAINING_JOB=training_job.json
export JSON_SAGEMAKER_ROLE=sagemaker_role.json
export JSON_REQUEST=request.json